'.source.js':
  'Collection findOne':
    'prefix': 'findOne()'
    'body': 'findOne($1)'
  'Collection findOneAndUpdate':
    'prefix': 'findOneAndUpdate()'
    'body': 'findOneAndUpdate($1, {$2})'
  'Collection find, toArray':
    'prefix': 'find().toArray()'
    'body': 'find($1).toArray()'
  'Collection find, count':
    'prefix': 'find().count()'
    'body': 'find($1).count()'
  'Collection insert':
    'prefix': 'insert()'
    'body': 'insert($1)'
  'Collection update':
    'prefix': 'update()'
    'body': 'update($1)'
  'Collection upsert':
    'prefix': 'upsert()'
    'body': 'upsert($1)'
