{
  "presets": ["env"],
  "plugins": [
    ["transform-object-rest-spread", {"useBuiltIns": true}],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "app": "./app"
        }
      }
    ]
  ]
}
